<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container justify-content-start">
    <a class="navbar-brand" routerLink="/">Repo Search App</a>
    <div class="navbar-nav">
      <a class="nav-link" routerLinkActive="active" #search="routerLinkActive" routerLink="/search">Search<span
          *ngIf="search.isActive" class="sr-only">(current)</span></a>
      <a class="nav-link" routerLinkActive="active" #history="routerLinkActive" routerLink="/history">History<span
          *ngIf="history.isActive" class="sr-only">(current)</span></a>
      <a class="nav-link" routerLinkActive="active" #page1="routerLinkActive" routerLink="/page1">Page 1<span
          *ngIf="page1.isActive" class="sr-only">(current)</span></a>
      <a class="nav-link" routerLinkActive="active" #page2="routerLinkActive" routerLink="/page2">Page 2<span
          *ngIf="page2.isActive" class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
