<ng-container *ngIf="res | async as result; else noData">
  <div class="row bg-secondary text-light shadow rounded mb-2" *ngFor="let repo of result.items">
    <div class="col-3">{{repo.name}}</div>
    <div class="col-3">{{repo.full_name}}</div>
    <div class="col-3">{{repo.description}}</div>
    <div class="col-3">{{repo.owner.login}}</div>
  </div>
</ng-container>
<ng-template #noData>
  <p>Search results come here</p>
</ng-template>
